.BrowserPage {
    width: 100%;
    height: 100%;
    background-color: #fff3e1;
}

.browser-page-container {
    max-width: 600px;
    margin: 0 auto 0 auto;
    background-color: #fde3d1;
    border-left: #777DA7 2px solid;
    border-right: #777DA7 2px solid;
    height: 100%;
}