/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #F6D4BA;
    color: #777DA7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.acc-title-left {

}
.acc-title-right {

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.acc-active, .accordion:hover {
    background-color: #F3B391;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px 0 18px;
    background-color: #f6e4d5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-content {
    padding: 10px 0 15px 0;
}