html {
    background-color: #fff3e1;
}

.tumbleweed {
    color: #F3B391;
}
.peachpuff {
    color: #F6D4BA;
}
.lightpeach {
    color: #f6e4d5;
}
.lightyellow {
    color: #F6D4BA;
}
.tuscanred {
    color: #885053;
}
.rhythm {
    color: #777DA7;
}

.tumbleweed-bg {
    background-color: #F3B391!important;
}
.peachpuff-bg {
    background-color: #F6D4BA!important;
}
.lightpeach-bg {
    background-color: #f6e4d5!important;
}
.lightyellow-bg {
    background-color: #F6D4BA!important;
}
.tuscanred-bg {
    background-color: #885053!important;
}
.rhythm-bg {
    background-color: #777DA7!important;
}
.rhythm-bg-light {
    background-color: rgba(119, 125, 167, 0.15)!important;
}
.rhythm-bg-medium {
    background-color: rgba(119, 125, 167, 0.35)!important;
}


.bold {
    font-weight: bold!important;
}
.bold-sm {
    font-weight: normal!important;
}